In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_excel('../data/CDC.xlsx')
df = df[['State', 'Ten-Year Age Groups', 'Gender', 'Crude Rate', 'Population','Deaths']]

In [9]:
df.head()

     State Ten-Year Age Groups  Gender Crude Rate Population  Deaths
0  Alabama          5-14 years  Female        0.5    6696727      32
1  Alabama          5-14 years    Male        1.3    6996687      90
2  Alabama         15-24 years  Female        3.5    7161505     249
3  Alabama         15-24 years    Male       20.5    7290395    1492
4  Alabama         25-34 years  Female        5.8    6828376     397

In [ ]:
sns.lineplot(x = '')